body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.header1 {
  position: relative;
  color: white;
  padding: 2%;
  text-align: end;
  overflow: hidden;
}

.header1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  background: url('images/FlagBG.png') no-repeat center center/cover;
  z-index: 0;
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 0 2%;
  box-sizing: border-box;
  z-index: 1;
}

.header-middle {
  text-align: center;
}

.header-end {
  display: flex;
  align-items: center;
}

.header-start {
  display: flex;
  align-items: center;
}

.header-end ul {
  list-style-type: none;
  display: flex;
  gap: 2%;
  margin: 0;
  padding: 0;
}

.header-end a {
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header-end a:hover {
  text-decoration: underline;
  color: blue;
}

.nav-links-WhoFrank {
  display: flex;
  align-items: center;
  background-color: #FFF;
}

.header2 {
  font-size: 2em;
  min-height: 600px;
  background-color: #FFFFFF;
  color: black;
  padding: 0;
}

.closer {
  position: relative;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 2%;
  text-align: center; /* Corrected syntax */
  overflow: hidden;
  font-size: 2em;
  z-index: 2;
}

.closer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/FlagBG.png') no-repeat center center/cover;
  background-color: #FFFFFF;
  z-index: 0;
}

.whoFrank-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-template-rows: auto auto auto; /* Auto height rows */
  gap: 1%;
  height: auto; /* Adjust height */
  background-color: #FFFFFF;
  margin: 2%;
  box-sizing: border-box;
}

.whoFrank-item {
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

.whoFrank-item p {
  text-align: center;
  margin-bottom: 2%;
}

.whoFrank-text {
  font-size: 2em;
}

.whoFrank-start {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #41433E;
  justify-content: flex-start;
  background: url('images/BGFrank.jpg') no-repeat center/cover;
}

.whoFrank-middle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-content: center;
  color: #41433E;
  background: url('images/BGFrank.jpg') no-repeat center/cover;
}

.whoFrank-end {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-content: flex-start;
  color: #41433E;
  background: url('images/BGFrank.jpg') no-repeat center/cover;
}

.whoFrank-nav {
  margin-top: 2%;
}

.nav-links-whoFrank {
  list-style-type: none;
  display: flex;
  gap: 2%;
  padding: 0;
  justify-content: center;
}

.nav-links-whoFrank li {
  margin: 0;
}

.nav-links-whoFrank a {
  display: inline-block;
  padding: 1em 2em;
  background-color: #41433E;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links-whoFrank a:hover {
  background-color: #FFFFFF;
  color: #41433E;
  text-decoration: underline;
}

.slideshow-container {
  position: relative;
  background-color: #FFFFFF;
  max-width: 90%;
  margin: 5% auto;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.mySlides {
  display: none;
  position: relative;
  border: 2px solid black;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2%;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

.next {
  right: -5%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -5%;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mySlides.visible-left {
  display: block;
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 0;
  opacity: 0.5;
}

.mySlides.visible-right {
  display: block;
  position: absolute;
  top: 0;
  right: -25%;
  z-index: 0;
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 2em;
  padding: 2%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.fadeIn {
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.responsive-img {
  max-width: 20%;
  height: auto;
}

.responsive-img2 {
  max-width: 80%;
  height: auto;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/4thJulyFrankLesko.png') no-repeat center center/cover;
  background-size: 100% 140%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: end;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  padding: 2%;
}

.quote-text {
  font-size: 2em;
  text-align: center;
  margin-left: auto;
  max-width: 50%;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.elect-text {
  text-align: center;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.facebook-button {
  display: inline-block;
  margin-top: 2%;
  z-index: 2;
  position: relative;
}

.facebook-icon {
  width: 1.5em;
  height: auto;
  vertical-align: middle;
}

/* Media queries to adjust image size on smaller screens */
@media screen and (max-width: 768px) {
  .responsive-img {
    max-width: 30%;
  }
  .responsive-img2 {
    max-width: 50%;
  }
  .header1 {
    padding: 5%;
  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header2 {
    font-size: 1.5em;
  }
  .quote-container {
    gap: 5%;
    background-size: cover;
  }
  .quote-text {
    font-size: 1.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .text {
    font-size: 1.5em;
  }
  .header-end ul {
    gap: 1em;
    flex-direction: column;
  }
  .elect-text {
    font-size: 1.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .header-end a {
    font-size: 1.5em;
  }
  .whoFrank-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
    grid-template-rows: auto auto auto;
    gap: 2%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .whoFrank-item {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
  }
}

@media screen and (max-width: 480px) {
  .responsive-img {
    max-width: 50%;
  }
  .responsive-img2 {
    max-width: 70%;
    margin-right: 0px;
  }
  .header1 {
    padding: 5%;
  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header2 {
    font-size: 1em;
  }
  .quote-container {
    gap: 0;
    overflow: hidden;
  }
  .quote-text {
    font-size: 1em;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    overflow: hidden;
  }
  .text {
    font-size: 1em;
  }
  .header-end ul {
    gap: 0.5em;
    flex-direction: column;
  }
  .elect-text {
    font-size: 1em;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  }
  .whoFrank-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
    grid-template-rows: auto auto auto;
    gap: 2%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .whoFrank-item {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
  }
}
